<div class="entity-container">
  <h2 id="page-heading" data-cy="ZoneHeading">
    <span>المناطق</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-zone"
        [routerLink]="['/zone/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> اضافة </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="zones?.length === 0">
    <span>No zones found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="zones && zones.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ر.م</span></th>
          <th scope="col"><span>اسم المنطقة</span></th>
          <th scope="col"><span>القيمة 1</span></th>
          <th scope="col"><span>القيمة 2</span></th>
          <th scope="col"><span>القيمة 3</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let zone of zones; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/zone', zone.id, 'view']">{{ zone.id }}</a>
          </td>
          <td>{{ zone.name }}</td>
          <td>{{ zone.amount1 }}</td>
          <td>{{ zone.amount2 }}</td>
          <td>{{ zone.amount3 }}</td>
          <td class="text-right">
            <div class="btn-group flex-btn-group-container">
              <mat-menu #appMenu="matMenu">
                <button [routerLink]="['./', zone.id, 'view']" mat-menu-item>
                  <mat-icon>remove_red_eye</mat-icon>
                  عرض
                </button>

                <button [routerLink]="['./', zone.id, 'edit']" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  تعديل
                </button>
                <button (click)="delete(zone)" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  حذف
                </button>
              </mat-menu>

              <button [matMenuTriggerFor]="appMenu" class="mr-2" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
