<div class="entity-container">
  <h2 id="page-heading" data-cy="CountryHeading">
    <span>البلدان</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-country"
        [routerLink]="['/country/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>ااضافة </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="countries?.length === 0">
    <span>لا توجد </span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="countries && countries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ر.م</span></th>
          <th scope="col"><span>اسم </span></th>
          <th scope="col"><span>المناطق</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/country', country.id, 'view']">{{ country.id }}</a>
          </td>
          <td>{{ country.name }}</td>
          <td>
            <div *ngIf="country.zone">
              <a [routerLink]="['/zone', country.zone?.id, 'view']">{{ country.zone?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group flex-btn-group-container">
              <mat-menu #appMenu="matMenu">
                <button [routerLink]="['./', country.id, 'view']" mat-menu-item>
                  <mat-icon>remove_red_eye</mat-icon>
                  عرض
                </button>

                <button [routerLink]="['./', country.id, 'edit']" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  تعديل
                </button>
                <button (click)="delete(country)" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  حذف
                </button>
              </mat-menu>

              <button [matMenuTriggerFor]="appMenu" class="mr-2" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
