<div class="row justify-content-center" style="text-align: right">
  <div class="col-8">
    <div *ngIf="decreeIssue">
      <h2 data-cy="decreeIssueDetailsHeading"><span>الوزارات والهيئات</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ر.م</span></dt>
        <dd>
          <span>{{ decreeIssue.id }}</span>
        </dd>
        <dt><span>اسم الوزارة او الهيئة</span></dt>
        <dd>
          <span>{{ decreeIssue.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>للخلف</span>
      </button>

      <button type="button" [routerLink]="['/decree-issue', decreeIssue.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>تعديل</span>
      </button>
    </div>
  </div>
</div>
