<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="employee">
      <h2 data-cy="employeeDetailsHeading"><span>الموظف</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ر.م</span></dt>
        <dd>
          <span>{{ employee.id }}</span>
        </dd>
        <dt><span>اسم الموظف</span></dt>
        <dd>
          <span>{{ employee.name }}</span>
        </dd>
        <dt><span>الوظيفة</span></dt>
        <dd>
          <span>{{ employee.jobposition }}</span>
        </dd>
        <dt><span>رقم الهاتف</span></dt>
        <dd>
          <span>{{ employee.phone }}</span>
        </dd>
        <dt><span>الادارة</span></dt>
        <dd>
          <span>{{ employee.departement }}</span>
        </dd>
        <dt><span>القطاع التابع له</span></dt>
        <dd>
          <div *ngIf="employee.sector">
            <a [routerLink]="['/sector', employee.sector?.id, 'view']">{{ employee.sector?.name }}</a>
          </div>
        </dd>
        <dt><span>الدرجة الوظيفية</span></dt>
        <dd>
          <div *ngIf="employee.degree">
            <a [routerLink]="['/degree', employee.degree?.id, 'view']">{{ employee.degree?.name }}</a>
          </div>
        </dd>
      </dl>

      <div class="table-responsive" id="entities" *ngIf="employee.decrees && employee.decrees.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col">
                <span>ر.م</span>
              </th>
              <th scope="col">
                <span>رقم القرار</span>
              </th>
              <th scope="col">
                <span>السنة</span>
              </th>
              <th scope="col">
                <span>الغرض</span>
              </th>
              <th scope="col">
                <span>النوع</span>
              </th>
              <th scope="col">
                <span>عدد الايام</span>
              </th>
              <th scope="col">
                <span>البلد</span>
              </th>
              <th scope="col">
                <span>صورة</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let decree of employee.decrees" data-cy="entityTable">
              <td>
                <a [routerLink]="['/decree', decree.id, 'view']">{{ decree.id }}</a>
              </td>
              <td>{{ decree.decreenum }}</td>
              <td>{{ decree.decreeyear }}</td>
              <td>{{ decree.purpose }}</td>
              <td>{{ decree.dectype | translateMe }}</td>
              <td>{{ decree.daynum }}</td>
              <td>{{ decree.country?.name }}</td>
              <td>
                <button color="primary" mat-raised-button id="jh-create-entity">
                  <span class="hidden-sm-down">عرض الملف</span>
                </button>
              </td>
              <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                  <mat-menu #appMenu="matMenu"> </mat-menu>

                  <button [matMenuTriggerFor]="appMenu" class="mr-2" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>للخلف</span>
      </button>

      <button type="button" [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>تعديل</span>
      </button>
    </div>
  </div>
</div>
