<div class="entity-container">
  <h2 id="page-heading" data-cy="SectorHeading" style="text-align: right">
    <span>الجهات</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sector"
        [routerLink]="['/sector/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> اضافة </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sectors?.length === 0">
    <span>No sectors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sectors && sectors.length > 0" style="text-align: right">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ر.م</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span>اسم الجهة</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phone"><span>رقم الهاتف</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="address"><span>العنوان</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sector.name"><span>تابع لقطاع</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sector of sectors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sector', sector.id, 'view']">{{ sector.id }}</a>
          </td>
          <td>{{ sector.name }}</td>
          <td>{{ sector.phone }}</td>
          <td>{{ sector.address }}</td>
          <td>
            <div *ngIf="sector.sector">
              <a [routerLink]="['/sector', sector.sector?.id, 'view']">{{ sector.sector?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group flex-btn-group-container">
              <mat-menu #appMenu="matMenu">
                <button [routerLink]="['./', sector.id, 'view']" mat-menu-item>
                  <mat-icon>remove_red_eye</mat-icon>
                  عرض
                </button>

                <button [routerLink]="['./', sector.id, 'edit']" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  تعديل
                </button>
                <button (click)="delete(sector)" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  حذف
                </button>
              </mat-menu>

              <button [matMenuTriggerFor]="appMenu" class="mr-2" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sectors && sectors.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
