<div class="row justify-content-center" style="text-align: right">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employee-heading" data-cy="EmployeeCreateUpdateHeading">تعديل موظف</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ر.م</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_name">اسم الموظف</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_jobposition">الوظيفة</label>
          <input
            type="text"
            class="form-control"
            name="jobposition"
            id="field_jobposition"
            data-cy="jobposition"
            formControlName="jobposition"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_phone">رقم الهاتف</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_departement">الادارة</label>
          <input
            type="text"
            class="form-control"
            name="departement"
            id="field_departement"
            data-cy="departement"
            formControlName="departement"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sector">القطاع التابع له</label>
          <select class="form-control" id="field_sector" data-cy="sector" name="sector" formControlName="sector">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="sectorOption.id === editForm.get('sector')!.value?.id ? editForm.get('sector')!.value : sectorOption"
              *ngFor="let sectorOption of sectorsSharedCollection; trackBy: trackSectorById"
            >
              {{ sectorOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_degree">الدرجة الوظيفية</label>
          <select class="form-control" id="field_degree" data-cy="degree" name="degree" formControlName="degree">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="degreeOption.id === editForm.get('degree')!.value?.id ? editForm.get('degree')!.value : degreeOption"
              *ngFor="let degreeOption of degreesSharedCollection; trackBy: trackDegreeById"
            >
              {{ degreeOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>الغاء</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>حذف</span>
        </button>
      </div>
    </form>
  </div>
</div>
