<div class="entity-container">
  <h3 id="page-heading">
    <span>الدرجات الوظيفية</span>
  </h3>
  <div class="mt-1 ml-1 d-flex align-items-center">
    <button [routerLink]="['./new']" class="ml-1" color="primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      اضافة
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div *ngIf="degrees && degrees.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3" id="entities">
    <table class="col mat-table">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span>ر.م</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span>اسم الدرجة</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="number">
            <span>رقم الدرجة</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let degree of degrees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/degree', degree.id, 'view']">{{ degree.id }}</a>
          </td>
          <td>{{ degree.name }}</td>
          <td>{{ degree.number }}</td>
          <td class="text-left">
            <div class="btn-group flex-btn-group-container">
              <mat-menu #appMenu="matMenu">
                <button [routerLink]="['./', degree.id, 'view']" mat-menu-item>
                  <mat-icon>remove_red_eye</mat-icon>
                  عرض
                </button>

                <button [routerLink]="['./', degree.id, 'edit']" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  تعديل
                </button>
                <button (click)="delete(degree)" *jhiHasAnyAuthority="['ROLE_ADMIN']" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  حذف
                </button>
              </mat-menu>

              <button [matMenuTriggerFor]="appMenu" class="mr-2" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
