<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-zone-heading" data-cy="ZoneCreateUpdateHeading">اضافة او تعديل</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ر.م</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_name">اسم المناطق</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amount1">القمية 1</label>
          <input type="number" class="form-control" name="amount1" id="field_amount1" data-cy="amount1" formControlName="amount1" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amount2">القمية 2</label>
          <input type="number" class="form-control" name="amount2" id="field_amount2" data-cy="amount2" formControlName="amount2" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amount3">القمية 3</label>
          <input type="number" class="form-control" name="amount3" id="field_amount3" data-cy="amount3" formControlName="amount3" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>الغاء</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>حفظ</span>
        </button>
      </div>
    </form>
  </div>
</div>
