<div class="wide-container">
  <div style="min-height: 400px">
    <div class="row d-flex p-5 align-items-center main-container mx-auto h-100">
      <div class="col-12 text-sm-right col-sm-6 text-center">
        <h2 class="primary">لوحة التحكم</h2>
        <p></p>
        <h4 class="mr-1">قم بتسجيل الدخول</h4>
        <br />
      </div>

      <div class="mt-4 d-flex col-6 col-sm-3">
        <!--                <img class="mx-auto w-60" src="../../content/images/logo.png">-->
      </div>
    </div>
  </div>
</div>
